# Copiez ce fichier en .env.local et remplissez avec vos valeurs Shopify
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=votre-boutique.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_PUBLIC_TOKEN=votre_token_public
NEXT_PUBLIC_SHOPIFY_API_VERSION=2026-07
# SHOPIFY_PRIVATE_STOREFRONT_TOKEN=votre_token_prive
